<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>


    <div class="background-image">
        <img src="../static/40047.jpg" alt="fbr" width="1240px" height="637px">
    </div>


    <div class="content">
    <nav id="navbar">
        <ul>

        <li class="navElement"> <a href="index2.html"> Home </a> </li>
            <li class="navElement"> <a href="#"> Database </a> </li>
            <li class="navElement"> <a href="#"> Detailed Preview </a> </li>
            <li class="navElement"> <a href="#"> About  </a> </li>
        
        </ul>
     </nav>
     <!-- header -->
     <header>


        <div class="container1">

            <h1 id="c1Heading">Enter a Vehicle Image</h1>

            <form  method="post" action = "/submit" enctype ="multipart/form-data" >

            <label for="img1" id="labImg">Select Image</label>
            <input type="file" name="img1" id="imgInp" class="custom-file-upload" />
 

            <button type="submit" id="submit" formaction="/submit" > Submit </button>

            <button type="button" formaction="/submit" id="reset"> Reset Session </button>
            </form>

        </div>

    </div>
</body>
</html>